.erp-btn {
  background: rgb(242, 243, 245);
  background: -moz-linear-gradient(180deg, rgba(242, 243, 245, 1) 0%, rgba(222, 224, 230, 1) 50%, rgba(236, 238, 242, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(242, 243, 245, 1) 0%, rgba(222, 224, 230, 1) 50%, rgba(236, 238, 242, 1) 100%);
  background: linear-gradient(180deg, rgba(242, 243, 245, 1) 0%, rgba(222, 224, 230, 1) 50%, rgba(236, 238, 242, 1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f3f5",endColorstr="#eceef2",GradientType=1);
  border #A9ACB5 1px solid
  border-radius 2px
  position relative

  &::after {
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    width 100%
    border-radius 2px
    border #FAFBFC 1px solid
  }

  &.erp-btn-size-md {
    font-size 11px !important
    line-height 12px
  }
}

.erp-btn-circle-status {
  width 15px
  height 15px
  border-radius 50%
  display inline-block
  background-color #f2f2f2

  &.sm {
    width 11px
    height 11px
  }

  &.positive {
    border #4CB44B 1px solid
    background: rgb(248, 253, 245);
    background: -moz-radial-gradient(circle at top, rgba(248, 253, 245, 1) 0%, rgba(118, 211, 69, 1) 100%);
    background: -webkit-radial-gradient(circle at top, rgba(248, 253, 245, 1) 0%, rgba(118, 211, 69, 1) 100%);
    background: radial-gradient(circle at top, rgba(248, 253, 245, 1) 0%, rgba(118, 211, 69, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fdf5",endColorstr="#76d345",GradientType=1);
  }

  &.negative {
    border #830606 1px solid
    background: rgb(240, 80, 80);
    background: -moz-radial-gradient(circle at top, rgba(255, 192, 196, 1) 0%, rgba(240, 80, 80, 1) 100%);
    background: -webkit-radial-gradient(circle at top, rgba(255, 192, 196, 1) 0%, rgba(240, 80, 80, 1) 100%);
    background: radial-gradient(circle at top, rgba(255, 192, 196, 1) 0%, rgba(240, 80, 80, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fdf5",endColorstr="#76d345",GradientType=1);
  }

  &.warning {
    border #BF8C00 1px solid
    background: rgb(255, 186, 48);
    background: -moz-radial-gradient(circle at top, rgba(255, 255, 255, 1) 0%, rgba(255, 186, 48, 1) 100%);
    background: -webkit-radial-gradient(circle at top, rgba(255, 255, 255, 1) 0%, rgba(255, 186, 48, 1) 100%);
    background: radial-gradient(circle at top, rgba(255, 255, 255, 1) 0%, rgba(255, 186, 48, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fdf5",endColorstr="#76d345",GradientType=1);
  }

  &.blue {
    border #0B21AC 1px solid
    background: rgb(173, 183, 245);
    background: -moz-radial-gradient(circle at top, rgba(173, 183, 245, 1) 0%, rgba(59, 82, 230, 1) 100%);
    background: -webkit-radial-gradient(circle at top, rgba(173, 183, 245, 1) 0%, rgba(59, 82, 230, 1) 100%);
    background: radial-gradient(circle at top, rgba(173, 183, 245, 1) 0%, rgba(59, 82, 230, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fdf5",endColorstr="#76d345",GradientType=1);
  }

  &.grey {
    border #777777 1px solid
    background: rgb(110, 110, 110);
    background: -moz-radial-gradient(circle at top, rgba(240, 240, 240, 1) 0%, rgba(110, 110, 110, 1) 100%);
    background: -webkit-radial-gradient(circle at top, rgba(240, 240, 240, 1) 0%, rgba(110, 110, 110, 1) 100%);
    background: radial-gradient(circle at top, rgba(240, 240, 240, 1) 0%, rgba(110, 110, 110, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fdf5",endColorstr="#76d345",GradientType=1);
  }

  &.black {
    border #222222 1px solid
    background: rgb(0, 0, 0);
    background: -moz-radial-gradient(circle at top, rgba(130, 130, 130, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(circle at top, rgba(130, 130, 130, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(circle at top, rgba(130, 130, 130, 1) 0%, rgba(0, 0, 0, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fdf5",endColorstr="#76d345",GradientType=1);
  }

  &.purple {
    border #7A41BC 1px solid
    background: rgb(161, 91, 243);
    background: -moz-radial-gradient(circle at top, rgba(177, 129, 234, 1) 0%, rgba(161, 91, 243, 1) 100%);
    background: -webkit-radial-gradient(circle at top, rgba(177, 129, 234, 1) 0%, rgba(161, 91, 243, 1) 100%);
    background: radial-gradient(circle at top, rgba(177, 129, 234, 1) 0%, rgba(161, 91, 243, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fdf5",endColorstr="#76d345",GradientType=1);
  }
}

.erp-btn-table-options {
  color #707070
  font-size 14px
  font-weight bold
  padding 0 4px

  &:hover {
    color #000000
  }
}
