.erp-input {
  border 1px solid
  border-top-color #9DA0AA
  border-left-color #C2C4CB
  border-right-color #C2C4CB
  border-bottom-color #D9DAE0
  background-color #FFFFFF
  width 100%
  display flex

  input, select {
    width 100%
    font-size 11px
    padding 2px 6px 0
    height 20px
    line-height 20px
    color inherit
    vertical-align: middle;
  }
}

.erp-if, .erp-if:before, .erp-if:after, .erp-if-label, .erp-if-addon, .u-field-icon, .u-field-label, .erp-if-control, .u-field-bottom
  transition all 0.2s

.erp-if
  height 20px
  outline 0

  &.text-primary {
    color #333333 !important
  }

  .group
    margin -5px

    &:not(:first-child)
      margin-top 0

&.erp-if-s-b {
  border #E8E3E3 1px solid
}

.erp-if-focusable
  outline 0
  cursor pointer

.erp-if-inner
  min-height 20px !important
  align-items center

.erp-if-has-label
  min-height 20px

  .erp-if-inner
    min-height 20px !important
    padding-top 0

.erp-if-label
  pointer-events none
  user-select none
  top 5px
  left 5px
  right 0
  transform-origin left top 0
  transform scale(1) translate(0, 0)
  font-size 11px

.erp-if-label-above
  transform scale(.75) translate(0, -22px)

.erp-if-addon
  pointer-events none
  opacity 0
  font-size 11px
  display flex
  align-self center

.erp-if-addon-left
  padding-right 4px
  padding-left 5px

.erp-if-addon-right
  padding-left 1px
  padding-right 5px

.erp-if-addon-visible
  opacity 1

.erp-if-control
  cursor pointer
  font-size 14px
  width 14px
  align-self center

  &.u-icon
    cursor pointer

  &:hover
    opacity .7

.erp-if-control-before
  margin-left 4px
  margin-right 0px

.erp-if-label, .erp-if-addon, .erp-if-control
  color #999999

/*.erp-if-inverted
  min-height 38px
  border-radius 2px
  padding 8px
  box-shadow $shadow-1

  .u-input-target
    color inherit

  .erp-if-label, .erp-if-addon, .erp-if-control
    color #ddd*/

div.u-input-target
  min-width 35px

.erp-if-dark
  &:hover:before
    color white

  &:not(.erp-if-inverted-light)
    .u-input-target
      color white

.erp-if-inverted-light
  .erp-if-label, .erp-if-addon, .erp-if-control
    color #656565

.erp-if-focused
  border-top-color #8b8e98
  border-left-color #a6a8af
  border-right-color #a6a8af
  border-bottom-color #b9bac0

  &::after {
    pointer-events none
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    width 100%
    border #edeeef 1px solid
    border-right #e3e4e5 3px solid
  }

  .erp-if-label, .erp-if-addon, .erp-if-control
    color currentColor !important

.erp-if-error {
  border-color brown
}

.erp-if-warning {
  border-color #AE8B00
}

.erp-if-disabled
  cursor not-allowed !important
  background-color #F3F3F3
  border #E8E3E3 1px solid

  .erp-if-label, .erp-if-control, .u-input-target, .u-chip
    opacity .6
    cursor not-allowed !important


.erp-if-size-2 {
  height 26px

  input {
    font-size 12px
    height 26px
    line-height 26px
    padding 2px 8px 0
  }
}

.erp-s-field {
  display flex

  .erp-s-field-label {
    font-size 11px
    color #333333
    user-select none
  }

  .erp-s-field-content {
    position relative
  }

  .erp-s-field-helper {
    font-size 10px
    color #999999
    position absolute

    &.pos-left-top {
      left 0
      top -14px
    }

    &.pos-left-bottom {
      left 0
      bottom -14px
    }

    &.pos-right-top {
      right 0
      top -14px
    }

    &.pos-right-bottom {
      right 0
      bottom -14px
    }
  }

  &.erp-field-layout-top {
    flex-direction column

    .erp-s-field-label {
      padding-bottom 7px
    }
  }

  &.erp-field-align-left {
    .erp-s-field-label {
      text-align left
    }
  }

  &.erp-field-align-right {
    .erp-s-field-label {
      text-align right
      justify-content flex-end
    }
  }

  &.erp-field-layout-left {
    flex-direction row
    justify-content space-between

    .erp-s-field-label {
      // flex 1
      white-space nowrap
      margin-right 12px
      display flex
      align-self center
    }

    .erp-s-field-content {
      flex 1
    }
  }
}

.erp-select {
  position relative

  .erp-if-select {
    pointer-events none
    position absolute
    left 0
    bottom 0
    top 0
    width 100%
    display flex

    &:after {
      display flex
      align-self center
      position absolute
      content ''
      right 5px
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid #707070;
      margin-top 1px
    }
  }

  &.erp-if-size-2 {
    .erp-if-select {

      &:after {
        margin-top 2px
      }
    }
  }

  .erp-select-input {
    -webkit-appearance none
    -moz-appearance none
    background none
    border-radius 0
    border none
    margin-right 14px
  }

  &.erp-if-focused {
    .erp-select-input {
    }

    .erp-select-line-helper {
      border #333333 1px dotted
      margin-right 14px
      pointer-events none
      position absolute
      left 2px
      top 4px
      bottom 2px
      right 0
    }
  }
}

.erp-simple-select {
  -webkit-appearance none
  -moz-appearance none
  background none
  border-radius 0
  border none
  font-size 11px
  height 20px
  line-height 20px
}

.erp-select-advanced {
}

.erp-select-popup {
  resize both
  border #A0A2AC 1px solid
  box-shadow none
  min-height 60px
  overflow auto
  height 100px

  .erp-select-container {
    position relative
  }

  .erp-select-desc {
    position sticky
    top 0
    left 0
    width 100%
    display block
    height auto
    background-color #F5F5F6
    border-bottom #CFD0D7 1px solid
    padding 4px 4px
    font-size 11px
    color #333333
  }
}

.erp-select-list {
  padding 0
  margin 0
  list-style none
  .erp-select-list-item{
    font-size 11px
    color #333333
    padding 4px
    user-select none
    border-top: #FFFFFF 1px solid
    border-bottom: #FFFFFF 1px solid
    display flex
    align-content center
    &:hover, &.select-highlight{
      border-top #DADADA 1px solid
      border-bottom #DADADA 1px solid
      background-color #F0F1F3
    }
  }
}
