.erp-icon {
  transition all 0.2s
  transform: translateY(0px)
  width 32px
  height 32px
  background url("../module-icons.png")

  &.perfil {
    background-position 0 0 !important
  }

  &.config {
    background-position -32px 0 !important
  }

  &.network {
    background-position -(32 * 2 px) 0 !important
  }

  &.mensagens {
    background-position -(32 * 3px) 0 !important
  }

  &.knowledge {
    background-position -(32 * 4 px) 0 !important
  }

  &.tasks {
    background-position -(32 * 5 px) 0 !important
  }

  &.metas {
    background-position -(32 * 6 px) 0 !important
  }

  &.files {
    background-position -(32 * 7 px) 0 !important
  }

  &.home {
    background-position -(32 * 8 px) 0 !important
  }

  &.help {
    background-position -(32 * 9 px) 0 !important
  }

  &.truck {
    background-position -(32 * 10 px) 0 !important
  }

  &.track {
    background-position -(32 * 11 px) 0 !important
  }

  &.mat {
    background-position -(32 * 12 px) 0 !important
  }

  &.map-pointer {
    background-position -(32 * 13 px) 0 !important
  }

  &.calc {
    background-position -(32 * 14 px) 0 !important
  }

  &.auction {
    background-position 0px (-32 * 1 px) !important
  }

  &.terminal {
    background-position -(32 * 1 px) (-32 * 1 px) !important
  }

  &.thermal-print {
    background-position -(32 * 2 px) (-32 * 1 px) !important
  }

  &.contact {
    background-position -(32 * 3 px) (-32 * 1 px) !important
  }

  &.user {
    background-position -(32 * 4 px) (-32 * 1 px) !important
  }

  &.export {
    background-position -(32 * 5 px) (-32 * 1 px) !important
  }

  &.chat {
    background-position -(32 * 6 px) (-32 * 1 px) !important
  }

  &.monitor {
    background-position -(32 * 7 px) (-32 * 1 px) !important
  }

  &.list {
    background-position -(32 * 8 px) (-32 * 1 px) !important
  }

  &.register {
    background-position -(32 * 9 px) (-32 * 1 px) !important
  }

  &.template {
    background-position -(32 * 10 px) (-32 * 1 px) !important
  }

  &.percent {
    background-position -(32 * 11 px) (-32 * 1 px) !important
  }
}
