.erp-w-search {
  width 100%

  .erp-w-table {
    overflow auto
    table {
      tr {
        td {
          height auto
          padding 8px 6px
          cursor: pointer
        }

        &:hover, &.select-highlight {
          td {
            background-color cornflowerblue
            color #FFFFFF
          }
        }
      }
    }
  }
}
