.erp-window {
  .u-window {
    background-color #D0D1D7 !important
    border #9DA0AA 1px solid

    .u-window-header-title {
      color #000000
      font-size 12px
      font-weight bold
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    }

    .u-window-content {
      background-color #F5F5F5 !important
      border #A8AAB4 1px solid
      margin 0 5px 5px 5px
    }
  }
}

.erp-w-content {
  display flex
  flex-direction column
  justify-content space-between
  flex 1
  height 100%
  max-height 100%
  padding 5px 12px

  .erp-w-content-header {
    background-color #EBECEF
    border #C2C4CB 1px solid
    min-height: 80px;
  }

  .erp-w-content-body {
    background-color #FFFFFF
    border #9DA0AA 1px solid
    flex 1
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.16);
    overflow auto

    &.with-tabs {
      // margin-top 13px
    }
  }

  .erp-tabs {
    margin-top 13px
  }

  .window-actions {
    text-align right
    padding-top 8px
    color #000000

    .u-btn-inner {
      div {
        font-weight bold !important
      }
    }

    i {
      font-size 24px
      color #0078D7
    }
  }
}
